nodered_simple-image.flow
[{"id":"199e373a.9f6fe9","type":"tab","label":"ÉtÉçÅ[ 1","disabled":false,"info":""},{"id":"349e8b95.592ed4","type":"mqtt in","z":"199e373a.9f6fe9","name":"","topic":"maskdetect","qos":"2","datatype":"auto","broker":"e3dec458.2a57d8","x":210,"y":220,"wires":[["d72cc0fe.f9c9a"]]},{"id":"d72cc0fe.f9c9a","type":"json","z":"199e373a.9f6fe9","name":"","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["f3cd729f.22d"]]},{"id":"f3cd729f.22d","type":"change","z":"199e373a.9f6fe9","name":"","rules":[{"t":"move","p":"payload.mask","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["c502ceff.8e994"]]},{"id":"c502ceff.8e994","type":"template","z":"199e373a.9f6fe9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <img width=\"854px\" height=\"480px\" src=\"data:image/jpg;base64,{{{payload}}}\">\n    <br><b1><i>live camera</i></b1>\n</center>","output":"str","x":820,"y":220,"wires":[["b7261f85.180f2"]]},{"id":"b7261f85.180f2","type":"ui_template","z":"199e373a.9f6fe9","group":"8e7b1960.40f458","name":"","order":0,"width":"17","height":"11","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":220,"wires":[[]]},{"id":"e3dec458.2a57d8","type":"mqtt-broker","z":"","name":"xiiot","broker":"192.168.199.99","port":"1883","tls":"3e5d61ed.3cffee","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8e7b1960.40f458","type":"ui_group","z":"","name":"Group 1","tab":"69d29731.f9f748","order":1,"disp":true,"width":"17","collapse":false},{"id":"3e5d61ed.3cffee","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"certificate.crt","keyname":"privateKey.key","caname":"CACertificate.crt","servername":"","verifyservercert":false},{"id":"69d29731.f9f748","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]