apps/nodered_flows_MaskDetect.json
[{"id":"b48e5dc2.fc2a3","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"a90ddaa2.2d2d38","type":"mqtt in","z":"b48e5dc2.fc2a3","name":"","topic":"maskdetect","qos":"2","datatype":"auto","broker":"236c576.d169da8","x":156,"y":59,"wires":[[]]},{"id":"25e669ef.2fe056","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":375,"y":175,"wires":[]},{"id":"4f134856.242d28","type":"json","z":"b48e5dc2.fc2a3","name":"display site","property":"payload","action":"","pretty":false,"x":368,"y":55,"wires":[["ebce62c.afa11a"]]},{"id":"ebce62c.afa11a","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"move","p":"payload.mask_img","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":588,"y":55,"wires":[["8be9ee58.8f506"]]},{"id":"8be9ee58.8f506","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<center>\n    <b1><i>live camera (30sec)</i></b1><br>\n    <img src=\"data:image/jpg;base64,{{{payload}}}\">\n</center>","output":"str","x":816,"y":55,"wires":[["6a84ebb0.e6dc14"]]},{"id":"29153624.482e3a","type":"Kafka Consumer","z":"b48e5dc2.fc2a3","name":"","broker":"4ebec757.be2ac8","topics":[{"topic":"sendnodered","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","x":171.5,"y":174,"wires":[["25e669ef.2fe056","4f134856.242d28","fe867a09.9e8c38"]]},{"id":"c05aab1d.363578","type":"change","z":"b48e5dc2.fc2a3","name":"elasticsearch url","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://elasticsearch:9200/","tot":"str"},{"t":"change","p":"url","pt":"msg","from":"$","fromt":"re","to":"filebeat-7.9.1/_search","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"query\":{\"match\":{\"massage_json.total_num\":1}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":393.5,"y":486,"wires":[[]]},{"id":"277b3601.71f34a","type":"change","z":"b48e5dc2.fc2a3","name":"msg.headers","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Connection\":\"close\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":571,"y":563,"wires":[["229cf22.b9af00e"]]},{"id":"229cf22.b9af00e","type":"http request","z":"b48e5dc2.fc2a3","name":"Elasticsearch","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":747,"y":563,"wires":[["c310a0bc.3cd56"]]},{"id":"a7d79ff7.68a61","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930.5,"y":645,"wires":[]},{"id":"11492828.5026d8","type":"inject","z":"b48e5dc2.fc2a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":192.5,"y":563,"wires":[["1d684763.3ed279"]]},{"id":"c310a0bc.3cd56","type":"json","z":"b48e5dc2.fc2a3","name":"","property":"payload","action":"","pretty":false,"x":907.5,"y":563,"wires":[["a7d79ff7.68a61","3401bc49.4a8834","fd554019.1270e","651bc577.70b6ec"]]},{"id":"94a73c47.04fb","type":"inject","z":"b48e5dc2.fc2a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":164.5,"y":1109,"wires":[["efa5031.9b0b8","47c1ebe3.80cb74"]]},{"id":"a31b757f.3879d8","type":"minio-objects","z":"b48e5dc2.fc2a3","objects_name":"put object","host":"1d25fd32.dff4d3","objects_operation":"putObject","objects_bucket":"kon-buckets","objects_object":"sample4.txt","objects_offset":"","objects_length":"","objects_stream":"payload","objects_size":"","objects_metadata":"test","objects_sourceobject":"","objects_conditions":"","objects_objectslist":[],"objects_prefix":"","objects_etag":"","objects_datetime":"","x":377.5,"y":1256,"wires":[["e13955d2.019e98"],["e13955d2.019e98"]]},{"id":"58315dcd.c026c4","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710.5,"y":1065,"wires":[]},{"id":"efa5031.9b0b8","type":"minio-buckets","z":"b48e5dc2.fc2a3","buckets_name":"","host":"1d25fd32.dff4d3","buckets_operation":"listObjectsV2WithMetadata","buckets_bucket":"kon-buckets","buckets_region":"","buckets_prefix":"","buckets_recursive":false,"buckets_start_after":"","x":429.5,"y":1068,"wires":[["58315dcd.c026c4"],["58315dcd.c026c4"]]},{"id":"e13955d2.019e98","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":638.5,"y":1234,"wires":[]},{"id":"74e5bb8f.8e5fe4","type":"inject","z":"b48e5dc2.fc2a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":163.5,"y":1189,"wires":[["a31b757f.3879d8","e13955d2.019e98"]]},{"id":"47c1ebe3.80cb74","type":"minio-objects","z":"b48e5dc2.fc2a3","objects_name":"get object","host":"1d25fd32.dff4d3","objects_operation":"getPartialObject","objects_bucket":"kon-buckets","objects_object":"sample3.txt","objects_offset":"","objects_length":"","objects_stream":"","objects_size":"","objects_metadata":"","objects_sourceobject":"","objects_conditions":"","objects_objectslist":[],"objects_prefix":"","objects_etag":"","objects_datetime":"","x":417.5,"y":1115,"wires":[["506627a8.656828","9deec158.f052c"],[]]},{"id":"9deec158.f052c","type":"json","z":"b48e5dc2.fc2a3","name":"","property":"payload","action":"","pretty":false,"x":742.5,"y":1138,"wires":[["506627a8.656828"]]},{"id":"506627a8.656828","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":956.5,"y":1102,"wires":[]},{"id":"eb5ff6e2.813878","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1277.5,"y":368,"wires":[]},{"id":"fe867a09.9e8c38","type":"json","z":"b48e5dc2.fc2a3","name":"upload objects","property":"payload","action":"","pretty":false,"x":379.5,"y":281,"wires":[["510d0a5.6ce14f4"]]},{"id":"77ecbb52.fc6c44","type":"minio-objects","z":"b48e5dc2.fc2a3","objects_name":"put object","host":"1d25fd32.dff4d3","objects_operation":"putObject","objects_bucket":"kon-buckets","objects_object":"","objects_offset":"","objects_length":"","objects_stream":"","objects_size":"","objects_metadata":"test","objects_sourceobject":"","objects_conditions":"","objects_objectslist":[],"objects_prefix":"","objects_etag":"","objects_datetime":"","x":1253,"y":279,"wires":[["eb5ff6e2.813878"],[]]},{"id":"ca1f666e.82a988","type":"change","z":"b48e5dc2.fc2a3","name":"objects param","rules":[{"t":"set","p":"bucketName","pt":"msg","to":"kon-buckets","tot":"str"},{"t":"set","p":"objectName","pt":"msg","to":"payload.img_name","tot":"msg"},{"t":"set","p":"stream","pt":"msg","to":"payload.mask_img","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1086.5,"y":279,"wires":[["77ecbb52.fc6c44","61a406e.2b06ff8"]]},{"id":"d9c37381.0a12","type":"switch","z":"b48e5dc2.fc2a3","name":"","property":"payload.total_num","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gte","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":722.5,"y":281,"wires":[["9bce77d.453f488"],["caa1099f.3dc058"]]},{"id":"caa1099f.3dc058","type":"delay","z":"b48e5dc2.fc2a3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":888.5,"y":305,"wires":[["ca1f666e.82a988"]]},{"id":"9bce77d.453f488","type":"delay","z":"b48e5dc2.fc2a3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":879.5,"y":252,"wires":[["ca1f666e.82a988"]]},{"id":"510d0a5.6ce14f4","type":"base64","z":"b48e5dc2.fc2a3","name":"","action":"","property":"payload.mask_img","x":578,"y":281,"wires":[["d9c37381.0a12"]]},{"id":"e0250563.cfea08","type":"minio-presigned","z":"b48e5dc2.fc2a3","presigned_name":"","host":"1d25fd32.dff4d3","presigned_operation":"presignedGetObject","presigned_bucket":"kon-buckets","presigned_object":"","presigned_expiry":"600","presigned_req_params":"","presigned_resp_headers":"GET","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":1533,"y":966,"wires":[["b713da6e.e3c0e8","4e70393c.a8b4c8"],[]]},{"id":"b713da6e.e3c0e8","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1758,"y":911,"wires":[]},{"id":"4e70393c.a8b4c8","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <a href=\"{{{payload.presignedGetObject}}}\" target=\"_blank\" rel=\"noopener noreferrer\"><img width=\"204\" height=\"115\" src=\"{{{payload.presignedGetObject}}}\"></a>\n    <br><b1><i>{{{objectName}}}</i></b1>\n</center>","output":"str","x":1763,"y":958,"wires":[["53723130.02646"]]},{"id":"53723130.02646","type":"ui_template","z":"b48e5dc2.fc2a3","group":"dad9e63.5bc6e18","name":"history1","order":2,"width":"5","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1909,"y":958,"wires":[[]]},{"id":"6a84ebb0.e6dc14","type":"ui_template","z":"b48e5dc2.fc2a3","group":"dad9e63.5bc6e18","name":"main","order":1,"width":"17","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":967,"y":56,"wires":[[]]},{"id":"1d684763.3ed279","type":"change","z":"b48e5dc2.fc2a3","name":"elasticsearch url","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://elasticsearch:9200","tot":"str"},{"t":"change","p":"url","pt":"msg","from":"$","fromt":"re","to":"/filebeat-7.9.1/_search","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"size\":3,\"sort\":[{\"@timestamp\":{\"order\":\"desc\"}}],\"query\":{\"match\":{\"upload\":\"1\"}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":397,"y":563,"wires":[["277b3601.71f34a"]]},{"id":"fdcd4d6b.98d31","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1616,"y":514,"wires":[]},{"id":"5a3fffa2.bce3f","type":"change","z":"b48e5dc2.fc2a3","name":"elastic update_by_query","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://elasticsearch:9200","tot":"str"},{"t":"change","p":"url","pt":"msg","from":"$","fromt":"re","to":"/filebeat-7.9.1/_update_by_query?conflicts=proceed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1124,"y":434,"wires":[["2b784b77.220104"]]},{"id":"89379ce1.d7c02","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"query\": {\n        \"term\": {\n            \"message_json.img_name.keyword\": {\n                \"value\": \"{{{payload.img_name}}}\"\n            }\n        }\n    },\n    \"script\": {\n        \"source\": \"ctx._source.upload = 1\"\n    }\n}\n","output":"str","x":810,"y":433,"wires":[["c4ba01aa.879a5"]]},{"id":"c4ba01aa.879a5","type":"json","z":"b48e5dc2.fc2a3","name":"","property":"payload","action":"","pretty":false,"x":940,"y":434,"wires":[["5a3fffa2.bce3f"]]},{"id":"2b784b77.220104","type":"change","z":"b48e5dc2.fc2a3","name":"msg.headers","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Connection\":\"close\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1323,"y":434,"wires":[["12858a6a.818dc6","fdcd4d6b.98d31"]]},{"id":"12858a6a.818dc6","type":"http request","z":"b48e5dc2.fc2a3","name":"Elasticsearch","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1499,"y":434,"wires":[["cf60eea8.a972"]]},{"id":"cf60eea8.a972","type":"json","z":"b48e5dc2.fc2a3","name":"","property":"payload","action":"","pretty":false,"x":1649,"y":434,"wires":[["fdcd4d6b.98d31"]]},{"id":"61a406e.2b06ff8","type":"delay","z":"b48e5dc2.fc2a3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":663,"y":433,"wires":[["89379ce1.d7c02"]]},{"id":"110ccae9.5c7b05","type":"minio-presigned","z":"b48e5dc2.fc2a3","presigned_name":"","host":"1d25fd32.dff4d3","presigned_operation":"presignedGetObject","presigned_bucket":"kon-buckets","presigned_object":"","presigned_expiry":"600","presigned_req_params":"","presigned_resp_headers":"GET","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":1540,"y":1080,"wires":[["5880e469.eeecdc"],[]]},{"id":"5880e469.eeecdc","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <a href=\"{{{payload.presignedGetObject}}}\" target=\"_blank\" rel=\"noopener noreferrer\"><img width=\"204\" height=\"115\" src=\"{{{payload.presignedGetObject}}}\"></a>\n    <br><b1><i>{{{objectName}}}</i></b1>\n</center>","output":"str","x":1770,"y":1072,"wires":[["da0361ff.7e6f1"]]},{"id":"da0361ff.7e6f1","type":"ui_template","z":"b48e5dc2.fc2a3","group":"dad9e63.5bc6e18","name":"history2","order":4,"width":"5","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1916,"y":1072,"wires":[[]]},{"id":"3401bc49.4a8834","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"set","p":"objectName","pt":"msg","to":"payload.hits.hits.0._source.message_json.img_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":564,"wires":[["57f64a96.de5184","e0250563.cfea08"]]},{"id":"57f64a96.de5184","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"objectName","targetType":"msg","x":1660,"y":619,"wires":[]},{"id":"fd554019.1270e","type":"delay","z":"b48e5dc2.fc2a3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1128,"y":622,"wires":[["72e539aa.533408"]]},{"id":"72e539aa.533408","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"set","p":"objectName","pt":"msg","to":"payload.hits.hits.1._source.message_json.img_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1339,"y":621,"wires":[["57f64a96.de5184","110ccae9.5c7b05"]]},{"id":"7a821864.925618","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"set","p":"objectName","pt":"msg","to":"payload.hits.hits.2._source.message_json.img_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":680,"wires":[["57f64a96.de5184","93baa20e.98178"]]},{"id":"651bc577.70b6ec","type":"delay","z":"b48e5dc2.fc2a3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1189,"y":681,"wires":[["7a821864.925618"]]},{"id":"93baa20e.98178","type":"minio-presigned","z":"b48e5dc2.fc2a3","presigned_name":"","host":"1d25fd32.dff4d3","presigned_operation":"presignedGetObject","presigned_bucket":"kon-buckets","presigned_object":"","presigned_expiry":"600","presigned_req_params":"","presigned_resp_headers":"GET","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":1560,"y":1200,"wires":[["d9aa003e.9c1eb"],[]]},{"id":"d9aa003e.9c1eb","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <a href=\"{{{payload.presignedGetObject}}}\" target=\"_blank\" rel=\"noopener noreferrer\"><img width=\"204\" height=\"115\" src=\"{{{payload.presignedGetObject}}}\"></a>\n    <br><b1><i>{{{objectName}}}</i></b1>\n</center>","output":"str","x":1790,"y":1192,"wires":[["a64589d9.03d818"]]},{"id":"a64589d9.03d818","type":"ui_template","z":"b48e5dc2.fc2a3","group":"dad9e63.5bc6e18","name":"history3","order":6,"width":"5","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1936,"y":1192,"wires":[[]]},{"id":"cf3d37da.3970e","type":"inject","z":"b48e5dc2.fc2a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1291,"y":1290,"wires":[["a1547f32.cbe418"]]},{"id":"a1547f32.cbe418","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"set","p":"objectName","pt":"msg","to":"20200917154925.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1292,"y":1395,"wires":[["2097976d.78f81"]]},{"id":"2097976d.78f81","type":"minio-presigned","z":"b48e5dc2.fc2a3","presigned_name":"","host":"1d25fd32.dff4d3","presigned_operation":"presignedGetObject","presigned_bucket":"kon-buckets","presigned_object":"","presigned_expiry":"600","presigned_req_params":"","presigned_resp_headers":"GET","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":1524,"y":1396,"wires":[["21473f52.08376","4a657286.5f7dec"],[]]},{"id":"21473f52.08376","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1749,"y":1341,"wires":[]},{"id":"4a657286.5f7dec","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <a href=\"{{{payload.presignedGetObject}}}\" target=\"_blank\" rel=\"noopener noreferrer\"><img width=\"204\" height=\"115\" src=\"{{{payload.presignedGetObject}}}\"></a>\n    <br><b1><i>{{{objectName}}}</i></b1>\n</center>","output":"str","x":1754,"y":1388,"wires":[[]]},{"id":"8471b4f8.9f1988","type":"minio-presigned","z":"b48e5dc2.fc2a3","presigned_name":"","host":"1d25fd32.dff4d3","presigned_operation":"presignedGetObject","presigned_bucket":"kon-buckets","presigned_object":"","presigned_expiry":"600","presigned_req_params":"","presigned_resp_headers":"GET","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":2562,"y":1897,"wires":[["a16a8a34.76b778","dd04f3f0.62ba4"],[]]},{"id":"a16a8a34.76b778","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2787,"y":1842,"wires":[]},{"id":"dd04f3f0.62ba4","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <a href=\"{{{payload.presignedGetObject}}}\" target=\"_blank\" rel=\"noopener noreferrer\"><img width=\"204\" height=\"115\" src=\"{{{payload.presignedGetObject}}}\"></a>\n    <br><b1><i>{{{objectName}}}</i></b1>\n</center>","output":"str","x":2792,"y":1889,"wires":[["f7ea9e98.eec27"]]},{"id":"669d6636.7fa678","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"set","p":"objectName","pt":"msg","to":"payload.hits.hits.0._source.message_json.img_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2255,"y":1495,"wires":[["de3ab938.5b76e8","8471b4f8.9f1988"]]},{"id":"f7ea9e98.eec27","type":"ui_template","z":"b48e5dc2.fc2a3","group":"2bb74313.c9a154","name":"hit1","order":1,"width":"5","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2928,"y":1889,"wires":[[]]},{"id":"b5ccde49.c10fe","type":"json","z":"b48e5dc2.fc2a3","name":"","property":"payload","action":"","pretty":false,"x":1936.5,"y":1494,"wires":[["ffcd66c1.75ca98","669d6636.7fa678","28a2712d.1b870e","99053e9d.3b805","1b49c0a1.baa00f","a213aedd.7269a"]]},{"id":"de3ab938.5b76e8","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"objectName","targetType":"msg","x":2689,"y":1550,"wires":[]},{"id":"414d5c56.34d074","type":"http request","z":"b48e5dc2.fc2a3","name":"Elasticsearch","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1776,"y":1494,"wires":[["b5ccde49.c10fe"]]},{"id":"ffcd66c1.75ca98","type":"debug","z":"b48e5dc2.fc2a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1959.5,"y":1576,"wires":[]},{"id":"28a2712d.1b870e","type":"delay","z":"b48e5dc2.fc2a3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2157,"y":1553,"wires":[["5475b7cc.50cb58"]]},{"id":"99053e9d.3b805","type":"delay","z":"b48e5dc2.fc2a3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2218,"y":1612,"wires":[["2eebc5c8.0768aa"]]},{"id":"5475b7cc.50cb58","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"set","p":"objectName","pt":"msg","to":"payload.hits.hits.1._source.message_json.img_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2368,"y":1552,"wires":[["de3ab938.5b76e8","669c1726.1272e8"]]},{"id":"2eebc5c8.0768aa","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"set","p":"objectName","pt":"msg","to":"payload.hits.hits.2._source.message_json.img_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2429,"y":1611,"wires":[["db42d6ce.501e58"]]},{"id":"dacb2f40.cff4e","type":"change","z":"b48e5dc2.fc2a3","name":"msg.headers","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Connection\":\"close\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":1494,"wires":[["414d5c56.34d074"]]},{"id":"669c1726.1272e8","type":"minio-presigned","z":"b48e5dc2.fc2a3","presigned_name":"","host":"1d25fd32.dff4d3","presigned_operation":"presignedGetObject","presigned_bucket":"kon-buckets","presigned_object":"","presigned_expiry":"600","presigned_req_params":"","presigned_resp_headers":"GET","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":2569,"y":2011,"wires":[["7f0de88.6a37318"],[]]},{"id":"db42d6ce.501e58","type":"minio-presigned","z":"b48e5dc2.fc2a3","presigned_name":"","host":"1d25fd32.dff4d3","presigned_operation":"presignedGetObject","presigned_bucket":"kon-buckets","presigned_object":"","presigned_expiry":"600","presigned_req_params":"","presigned_resp_headers":"GET","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":2589,"y":2131,"wires":[["4dccadab.203574"],[]]},{"id":"9f0b3e46.0c37a","type":"change","z":"b48e5dc2.fc2a3","name":"elasticsearch url","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://elasticsearch:9200","tot":"str"},{"t":"change","p":"url","pt":"msg","from":"$","fromt":"re","to":"/filebeat-7.9.1/_search","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"query\":{\"bool\":{\"filter\":[{\"term\":{\"upload\":{\"value\":1}}},{\"range\":{\"message_json.total_num\":{\"gte\":1}}}]}},\"size\":5,\"sort\":[{\"@timestamp\":{\"order\":\"desc\"}}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1426,"y":1494,"wires":[["dacb2f40.cff4e"]]},{"id":"7f0de88.6a37318","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <a href=\"{{{payload.presignedGetObject}}}\" target=\"_blank\" rel=\"noopener noreferrer\"><img width=\"204\" height=\"115\" src=\"{{{payload.presignedGetObject}}}\"></a>\n    <br><b1><i>{{{objectName}}}</i></b1>\n</center>","output":"str","x":2799,"y":2003,"wires":[["563ec23d.82eb7c"]]},{"id":"4dccadab.203574","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <a href=\"{{{payload.presignedGetObject}}}\" target=\"_blank\" rel=\"noopener noreferrer\"><img width=\"204\" height=\"115\" src=\"{{{payload.presignedGetObject}}}\"></a>\n    <br><b1><i>{{{objectName}}}</i></b1>\n</center>","output":"str","x":2819,"y":2123,"wires":[["cd11a93d.962708"]]},{"id":"563ec23d.82eb7c","type":"ui_template","z":"b48e5dc2.fc2a3","group":"2bb74313.c9a154","name":"hit2","order":2,"width":"5","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2935,"y":2003,"wires":[[]]},{"id":"cd11a93d.962708","type":"ui_template","z":"b48e5dc2.fc2a3","group":"2bb74313.c9a154","name":"hit3","order":3,"width":"5","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2955,"y":2123,"wires":[[]]},{"id":"7ed40e6b.1f032","type":"minio-presigned","z":"b48e5dc2.fc2a3","presigned_name":"","host":"1d25fd32.dff4d3","presigned_operation":"presignedGetObject","presigned_bucket":"kon-buckets","presigned_object":"","presigned_expiry":"600","presigned_req_params":"","presigned_resp_headers":"GET","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":2559,"y":2411,"wires":[["ad016a3c.d7e7d8"],[]]},{"id":"ad016a3c.d7e7d8","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <a href=\"{{{payload.presignedGetObject}}}\" target=\"_blank\" rel=\"noopener noreferrer\"><img width=\"204\" height=\"115\" src=\"{{{payload.presignedGetObject}}}\"></a>\n    <br><b1><i>{{{objectName}}}</i></b1>\n</center>","output":"str","x":2789,"y":2403,"wires":[[]]},{"id":"c899894e.a9b448","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"set","p":"objectName","pt":"msg","to":"20200928131126.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":2411,"wires":[["7ed40e6b.1f032"]]},{"id":"5e508e31.0d116","type":"inject","z":"b48e5dc2.fc2a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":2052,"y":2412,"wires":[["c899894e.a9b448"]]},{"id":"59edea0.3f72918","type":"inject","z":"b48e5dc2.fc2a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":1221.5,"y":1494,"wires":[["9f0b3e46.0c37a"]]},{"id":"1b49c0a1.baa00f","type":"delay","z":"b48e5dc2.fc2a3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2259,"y":1686,"wires":[["5c4c992b.8c67c8"]]},{"id":"5c4c992b.8c67c8","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"set","p":"objectName","pt":"msg","to":"payload.hits.hits.3._source.message_json.img_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2470,"y":1685,"wires":[["44a64008.01cdf"]]},{"id":"44a64008.01cdf","type":"minio-presigned","z":"b48e5dc2.fc2a3","presigned_name":"","host":"1d25fd32.dff4d3","presigned_operation":"presignedGetObject","presigned_bucket":"kon-buckets","presigned_object":"","presigned_expiry":"600","presigned_req_params":"","presigned_resp_headers":"GET","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":2630,"y":2205,"wires":[["96766f1d.a2fe3"],[]]},{"id":"96766f1d.a2fe3","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <a href=\"{{{payload.presignedGetObject}}}\" target=\"_blank\" rel=\"noopener noreferrer\"><img width=\"204\" height=\"115\" src=\"{{{payload.presignedGetObject}}}\"></a>\n    <br><b1><i>{{{objectName}}}</i></b1>\n</center>","output":"str","x":2860,"y":2197,"wires":[["d6d5de08.345ad"]]},{"id":"d6d5de08.345ad","type":"ui_template","z":"b48e5dc2.fc2a3","group":"2bb74313.c9a154","name":"hit4","order":3,"width":"5","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2996,"y":2197,"wires":[[]]},{"id":"a213aedd.7269a","type":"delay","z":"b48e5dc2.fc2a3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2309,"y":1769,"wires":[["af272e09.08309"]]},{"id":"af272e09.08309","type":"change","z":"b48e5dc2.fc2a3","name":"","rules":[{"t":"set","p":"objectName","pt":"msg","to":"payload.hits.hits.4._source.message_json.img_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2520,"y":1768,"wires":[["fc642fe2.a4eed"]]},{"id":"fc642fe2.a4eed","type":"minio-presigned","z":"b48e5dc2.fc2a3","presigned_name":"","host":"1d25fd32.dff4d3","presigned_operation":"presignedGetObject","presigned_bucket":"kon-buckets","presigned_object":"","presigned_expiry":"600","presigned_req_params":"","presigned_resp_headers":"GET","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":2680,"y":2288,"wires":[["36e932cc.1d4c3e"],[]]},{"id":"36e932cc.1d4c3e","type":"template","z":"b48e5dc2.fc2a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <a href=\"{{{payload.presignedGetObject}}}\" target=\"_blank\" rel=\"noopener noreferrer\"><img width=\"204\" height=\"115\" src=\"{{{payload.presignedGetObject}}}\"></a>\n    <br><b1><i>{{{objectName}}}</i></b1>\n</center>","output":"str","x":2910,"y":2280,"wires":[["158135bf.031a7a"]]},{"id":"158135bf.031a7a","type":"ui_template","z":"b48e5dc2.fc2a3","group":"2bb74313.c9a154","name":"hit5","order":3,"width":"5","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3046,"y":2280,"wires":[[]]},{"id":"236c576.d169da8","type":"mqtt-broker","z":"","name":"xiiot","broker":"192.16.199.100","port":"1883","tls":"bd2c968a.b43678","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ebec757.be2ac8","type":"Kafka Broker","z":"","name":"xiiot-mask","hosts":[{"host":"192.16.199.100","port":31092}],"hostsEnvVar":"","connectTimeout":"10000","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false,"useCredentials":false},{"id":"1d25fd32.dff4d3","type":"minio-config","z":"","name":"nutanix objects","host":"192.16.198.23","port":"80","useSsl":false},{"id":"dad9e63.5bc6e18","type":"ui_group","z":"","name":"Top","tab":"8776c746.e968f8","order":1,"disp":true,"width":"17","collapse":false},{"id":"2bb74313.c9a154","type":"ui_group","z":"","name":"detect","tab":"8776c746.e968f8","order":2,"disp":true,"width":"5","collapse":false},{"id":"bd2c968a.b43678","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"certificate.crt","keyname":"privateKey.key","caname":"CACertificate.crt","servername":"","verifyservercert":false},{"id":"8776c746.e968f8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]